annotated-types
anyio
click
colorama
fastapi==0.136.0
h11==0.16.0
httptools
idna==3.7
pydantic==2.9.1
python-dotenv
PyYAML
sniffio
starlette==0.49.1
typing_extensions
uvicorn==0.34.0
watchfiles
websockets
